!!! 5
%html
  %head
    %title #{@module.name} #{@method.name} | Cans
  %body
    %h1 #{@module.name} #{@method.name}
    %p #{@method.name} is defined at #{@method.source_location.map(&:inspect).join(', line ')}
    %pre=@method.source_with_doc